@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&family=Poppins:wght@500;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #116828;
}

.slide {
  height: 100%;
  width: 260px;
  position: absolute;
  background-color: #0f0f0f;
  transition: 0.5s ease;  
  transform: translatex(-260px);
}

h1{
  color: #efefef;
  font-size: 32px;
  font-weight: 800;
  padding: 8px 0; 
  padding-right: 85px; 
  text-align: right;
  pointer-events: none;   
  font-family: "Merriweather+Sans", sans-serif;
}

ul li {
  list-style: none;    
    &:hover {
      background-color: #11156D;
      border-radius: 22em;
      padding: 3px;
      margin-right: 2px;
      margin-left: 2px;
}
}

ul li a {
  color: #efefef;  
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif; 
  padding: 12px;
  margin-right: 2px;
  margin-left: 2px;
  display: block;
  text-decoration: none; 
  transition: 0.1s ease-out;  
}

ul li:hover a{
  color: #fff;
  background-color: #05601c;
  border-radius: 25em;  
}

ul li a i {
  text-align: center;  
  font-size: 22px;  
}

input {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;  
}

.toggle {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 17px;
  left: 15px;
  z-index: 1;
  cursor: pointer;  
  border-radius: 3px;  
  background-color: #00000099;
}

.toggle .common{
  position: absolute;
  height: 2.5px;
  width: 25px;
  background-color: #efefef;
  border-radius: 100px;
  transition: 0.3 ease;    
}

.toggle:hover .common{
  background-color: #efefef99;   
}

.toggle .top_line {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.toggle .middle_line {
  top: 50.3%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.toggle .bottom_line {
  top: 74.6%;
  left: 50%;
  transform: translate(-50%, -50%)
}

input:checked ~ .toggle .top_line {
  left: 0px;
  top: 14px;
  width: 30px;
  transform: rotate(43deg);
}

input:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: translateX(31px);
}

input:checked ~ .toggle .bottom_line {
  left: 0px;
  top: 14px;
  width: 30px;
  transform: rotate(-43deg);  
}

input:checked ~ .slide {
  transform: translatex(0);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);   
}